body {
color:#000; /* feel free to remove this - this is just text color unless i remember css wrong */
background-image: url('./nsmbu.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
Footer
