body {
color:#6121B0; /* feel free to remove this - this is just text color unless i remember css wrong */
background-image: url('./background.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
